.mode{
  background-color : lightcoral;
  width : 400px;
  height : 200px;
  margin : auto;
}

.scan{
  background-color : lightblue;
  border-color: black;
  width : 400px;
  height : 150px;
  margin : auto;
}

.recipe{
  background-color : lightpink;
  border-color: black;
  width : 400px;
  height : 150px;
  margin : auto;
}

.prepare{
  background-color : lightgray;
  border-color: black;
  width : 400px;
  height : 220px;
  margin : auto;
}

.App {
  text-align: center;
  width : 450px;
  height : 850px;
  border-color: black;
  border-style: solid;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
